.contenitore{
    width: 100%;
   margin-left: 400px;
   display: table-caption;
}

.intestazione{
    background-color: hsl(196, 100%, 47%);
    background-size: contain;
    background-repeat: repeat;
    background-image: url("../img/pattern.png");
}

.prima-tab {
    background-color: hsl(218, 100%, 51%);
    text-align: left;
    min-width:20px;

}
.seconda-tab {
    background-color: hsl(218, 100%, 51%);
    text-align: left;
    min-width:20px;
}
.terza-tab {
    background-color: hsl(218, 100%, 51%);
    text-align: left;
    min-width:20px;
}
th, td{
    border-spacing: 20px;
    min-width:200px;
}
tr:nth-child(odd) {
    background-color: #D6EEEE;
  }