.contenitore {
    width: 50%;
    display: table;
    margin: auto;
}

.intestazione {
    background-color: hsl(196, 100%, 47%);
    background-size: 23%;
    background-image: url("../img/pattern.png");
    height: 50px;
}

.picture {
    width: 200px;
}

#logo {
    padding-top: 20px;
    width: 130px;

}

.table {
    width: 100%;
    margin: auto;

}

.prima-tab {
    background-color: hsl(218, 100%, 51%);
    text-align: left;
    color: white;
    width: 25%;
}

.seconda-tab {
    background-color: hsl(218, 100%, 51%);
    text-align: left;
    color: white;
    width: 25%;
}

.terza-tab {
    background-color: hsl(218, 100%, 51%);
    text-align: left;
    color: white;
    width: 50%;
}

th,
td {
    min-width: 50%;
}

tr:nth-child(odd) {
    background-color: #D6EEEE;
}

.primolink {
    background-image: url("../img/monitor.jpg");
    height: 300px;
    background-repeat: no-repeat;
}

.secondolink {
    background-image: url("../img/graph.jpg");
    height: 300px;
    background-repeat: no-repeat;
}